.button {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin: 0;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 0.75rem;

}

.link {
    text-decoration: none;
}

.text-span {
    padding-left: 10px;
    font-size: 1em;
    font-family: var(--font-inter), sans-serif;
    font-weight: lighter;
    line-height: 1;
}

.button svg, .button span[type] {
    height: 1.25em;
    width: auto;
}

.button.toggled {
    background-color: rgb(49, 49, 49);
    color: white;
}